@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: #000 #f4f4f4;
 
 
}


.bg-main{
  background: var(--shade-light-background, #F9F9FF) !important;
}

.ull {
  list-style-type: circle;
}
.ii{
  color:black !important;
}
.bg_Btn{
  background:linear-gradient(225deg, #6675F7 0%, #57007B 100%); ;
}

ul {
  list-style-type: none;
}